.mainbox {
    padding-top: 200px;
    padding-bottom: 230px;
}

@media (max-width: 767px) {
    .mainbox {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* line 1, ../../Arafath/CL/january 2020/241. Medical/HTML/scss/_about.scss */
    .mainbox {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.mainbox .column {
    position: relative;
    z-index: 0;
    /* height: 600px;
    width: 300px; */
}