/*
table {
    table-layout: fixed;
    empty-cells: show;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 12px;
    overflow-x: auto; 
    overflow-y: auto; 
}

td {
    height: 20px;
    overflow:hidden;
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap;
}



table.t1 {
    border: 1px solid #cad9ea;
    color: #666;
}

table.t1 thead th {
    font-size: 20px;
    text-align: center;
}

table.t1 th {
    background-image: url(th_bg1.gif);
    background-repeat: repeat-x;
    height: 30px;
}

table.t1 td,
table.t1 th {
    border: 1px solid #cad9ea;
    padding: 0 1em 0;
}

table.t1 tr.a1 {
    background-color: #f5fafe;
}
*/

.title {
    color: #191d34;
    text-shadow: 0px 0px 0px #1d1d1d;
}

h2,
h3 {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

table {
    /*设置相邻单元格的边框间的距离*/
    border-spacing: 0;
    /*表格设置合并边框模型*/
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    empty-cells: show;
    margin: 0 auto;
    height: 500px;
    margin-bottom: 200px;
    outline-color: red
}

.td1 {
    height: 40px;
    overflow: hidden;
    /* text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap; */
}


/* .td2 {
    width: 5%;
    height: 40px;
    overflow-x: scroll;
    /* text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap; 
} */

td::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 5px;
}

td::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    background-color: #FFC98B;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

td::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ededed;
    border-radius: 10px;
}


/*关键设置 tbody出现滚动条*/

table tbody {
    display: block;
    height: 500px;
    overflow-y: scroll;
}

table thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}


/*关键设置：滚动条默认宽度是16px 将thead的宽度减16px*/

table thead {
    width: calc( 100% - 1em)
}

table thead th {
    background: #ccc;
}

table tr.a1 {
    background-color: #f5fafe;
}

.NDB {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 200px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 500px;
}

@media (max-width: 768px) {
    .NDB {
        margin: 0 0vw;
    }
}

#display-more {
    background: #23b4cc;
    text-transform: capitalize;
    background: #82bb3b;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    width: 29%;
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 1em;
    margin-left: 8em;
    float: left;
    outline: none;
    letter-spacing: 1px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
}

#hide-more {
    text-transform: capitalize;
    background: #82bb3b;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    width: 29%;
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 1em;
    margin-right: 8em;
    float: right;
    outline: none;
    letter-spacing: 1px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
}