*{
	margin: 0;
	padding: 0;
}
.red,
.blu,
.yel,
.bla,
.gre{
	position: absolute;
	width: 100px	;
	height: 100px;
	border:  10px solid black;
	border-radius: 50%;
}
.plat{
	position: absolute;
	
	height: 185px;
	width: 380px;
	left: 50%;
	top: 50%;
	margin-left:-193px ;
	margin-top: -93px;
}
.red{
	border-color: red;
	left: 130px;
	top: 0;
	z-index: 2;
}
.blu{
	border-color: blue;
	left: 260px;
	top: ;
}
.yel{
	border-color: yellow;
	left:65px ;
	top: 70px;
	z-index: 1;
}
.bla{
	border-color:black ;
	left: ;
	top: ;
}
.gre{
	border-color: green;
	left: 195px;
	top: 70px;
	z-index: 1;
}