
body,p,h1,h1,h3,h4{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	border: none;
	vertical-align: middle;
}
img.turnl{
	width: 20px;
}
img.turnr{
	width: 20px;
}

a{
	color: #3c3c3c;
	text-decoration: none;
}
i{
	font-size: normal;
}
input{
	margin: 0;
	padding: 0;
}
button{
	outline: none;
}
body{
	font:  12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
	/* font-family: '\5b8b\4f53  SimSuns  宋体';
	font-family: "微软雅黑/Microsoft YaHei"; */
	/* 讲解：line-height: 1.5  \5b万国码，跨平台  sans*/
}
.clearfix::after{
	content: '';
	display: inline-block;
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}

.layer{
	width: 1190px;
	margin: 0 auto;
}
.c4{
	color: #f40;
}
.c5{
	color: #f50;
}
.mt10{
	margin-top: 10px;
}
.mr10{
	margin-right: 10px;
}
